<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>

<div class="container">
    <div class="row">
        {% for variant in products %}
            <div class="col-md-3" style="border: 1px solid #f6f6f6;">
                <h2>
                    {{ variant.product.title }} {{ variant.title }}
                    <small>#{{ variant.product.id }}_{{ variant.id }}</small>
                </h2>
                {% if variant.image %}
                    <img src="{{ variant.image.url }}" width="200px;">
                {% endif %}
                <h3>Price {{ variant.get_price }} <small>UAH</small></h3>
                <br>
                <span style="color: red">{{ variant.product.vendor }}</span>
            </div>
        {% endfor %}
    </div>
</div>


</body>
</html>

